<div class="nav-container">
  <div class="via-1547774836080" via="via-1547774836080" vio="Explanation">
    <div class="bar bar--sm visible-xs">
      <div class="container">
        <div class="row">
          <div class="col-3 col-md-2">
            <a href="index.html">
              <img
                class="logo logo-dark"
                alt="logo"
                src="assets/Calyx_Logo_PMS_228.png"
              />
              <img
                class="logo logo-light"
                alt="logo"
                src="assets/Calyx_Logo_PMS_228.png"
              />
            </a>
          </div>
          <!-- <div class="col-9 col-md-10 text-right">
            <a
              href="#"
              class="hamburger-toggle"
              data-toggle-class="#menu1;hidden-xs hidden-sm"
            >
              <i class="icon icon--sm stack-interface stack-menu"></i>
            </a>
          </div> -->
        </div>
      </div>
    </div>
    <nav id="menu1" class="bar bar-1 hidden-xs">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-2 hidden-xs">
            <div class="bar__module">
              <a href="index.html">
                <img
                  class="logo logo-dark"
                  alt="logo"
                  src="assets/Calyx_Logo_PMS_228.png"
                />
                <img
                  class="logo logo-light"
                  alt="logo"
                  src="assets/Calyx_Logo_PMS_228.png"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="main-container">
  <section class="text-center bg--primary space--sm">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8">
          <h2>Medicare Risk Adjustment<br /><i>for humans</i></h2>
          <p class="lead">
            Exploring the CMS risk adjustment model based on Hierarchical Condition
            Categories (HCCs).&nbsp;
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <ng-select
            [items]="icdCodes$ | async"
            [multiple]="true"
            [closeOnSelect]="true"
            [searchable]="true"
            bindLabel="code"
            placeholder="Select people"
          >
          </ng-select>
        </div>
      </div>
    </div>
  </section> -->
  <div class="container tab-container">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="RAF Calculator">
        <section class="switchable switchable--switch">
          <div class="container">
            <div class="row justify-content-between">
              <div
                class="col-md-9 col-lg-8 boxed boxed--border bg--secondary boxed--lg box-shadow"
              >
                <h2>Compute the Risk Adjustment Factor</h2>
                <div [formGroup]="rafScoreForm">
                  <mat-form-field
                    class="example-chip-list"
                    appearance="outline"
                    [floatLabel]="'always'"
                  >
                    <mat-label>ICD-10 codes</mat-label>
                    <mat-chip-list #chipList>
                      <mat-chip
                        *ngFor="let diagnosis of selectedDiagnoses"
                        [selectable]="true"
                        [removable]="true"
                        (removed)="remove(diagnosis)"
                      >
                        {{ diagnosis }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <input
                        matInput
                        placeholder="Search for a diagnosis..."
                        #diagnosisInput
                        id="searchbox"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="true"
                        (matChipInputTokenEnd)="add($event)"
                        (input)="search(diagnosisInput.value)"
                      />
                    </mat-chip-list>
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      (optionSelected)="selected($event)"
                    >
                      <mat-option
                        class="diagnosis-option"
                        *ngFor="let d of (icdCodes$ | async)"
                        [value]="d.code + ': ' + d.description"
                        [disabled]="d.is_billable === false"
                      >
                        <div>{{ d.code }}: {{ d.description }}</div>
                        <div
                          class="diagnosis-option-subheader"
                          *ngIf="d.is_billable; else notBillable"
                        >
                          <small class="icd-subheader"
                            >Billable
                            <span class="hccs" *ngFor="let hcc of d.hccs"
                              >HCC{{ hcc }}: {{ hcc_labels[hcc] }}
                            </span></small
                          >
                        </div>
                        <ng-template #notBillable
                          ><small class="icd-subheader">Not billable</small>
                        </ng-template>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Age</mat-label>
                    <input
                      matInput
                      type="number"
                      #age
                      maxlength="3"
                      placeholder="Age"
                      formControlName="age"
                    />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Sex</mat-label>
                    <mat-select formControlName="sex" required>
                      <mat-option [value]="1"> Male </mat-option>
                      <mat-option [value]="2"> Female </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Model</mat-label>
                    <mat-select formControlName="model" required>
                      <mat-option [value]="'cna'"> Community Non-Dual Aged </mat-option>
                      <mat-option [value]="'cnd'">
                        Community Non-Dual Disabled
                      </mat-option>
                      <mat-option [value]="'cfa'">
                        Community Full Benefit Dual Aged
                      </mat-option>
                      <mat-option [value]="'cfd'">
                        Community Full Benefit Dual Disabled
                      </mat-option>
                      <mat-option [value]="'cpa'">
                        Community Partial Benefit Dual Aged
                      </mat-option>
                      <mat-option [value]="'cpd'">
                        Community Partial Benefit Dual Disabled
                      </mat-option>
                      <mat-option [value]="'ins'"> Long Term Institutional </mat-option>
                      <mat-option [value]="'ne'"> New Enrollees </mat-option>
                      <mat-option [value]="'snpne'">
                        Special Needs Plan (SNP) New Enrollees
                      </mat-option>
                    </mat-select>
                    <mat-error>Model is required!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3 col-lg-4">
                <div
                  class="boxed boxed--border boxed--lg box-shadow scorebox"
                  *ngIf="isRafLoading"
                >
                  <mat-spinner></mat-spinner>
                </div>

                <div
                  class="boxed boxed--border boxed--lg box-shadow scorebox"
                  *ngIf="selectedDiagnoses.length && (rafScore$ | async) as rafScore"
                >
                  <h2>RAF Score: {{ rafScore.total }}</h2>
                  <div *ngIf="rafScore.demographic_components.length">
                    Demographic Components:
                  </div>
                  <ul>
                    <li *ngFor="let c of rafScore.demographic_components">
                      {{ c.description }} : <b>{{ c.score }}</b>
                    </li>
                  </ul>
                  <div *ngIf="rafScore.hcc_components.length">HCC Components:</div>
                  <ul>
                    <li *ngFor="let c of rafScore.hcc_components">
                      {{ c.description }} : <b>{{ c.score }}</b>
                    </li>
                  </ul>
                  <div *ngIf="rafScore.interaction_components.length">
                    Interaction Components:
                  </div>
                  <ul>
                    <li *ngFor="let c of rafScore.interaction_components">
                      {{ c.description }} : <b>{{ c.score }}</b>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section></mat-tab
      >
      <mat-tab label="ICD-10 to HCC"
        ><section>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-12" *ngIf="(hcc_to_icd_list$ | async) as hccicd">
                <h2>Browse the ICD codes leading to each HCC</h2>
                <hr />
                <mat-expansion-panel *ngFor="let hcc of hcc_list">
                  <mat-expansion-panel-header>
                    HCC{{ hcc }}: {{ hcc_labels[hcc] }}
                  </mat-expansion-panel-header>

                  <ng-template matExpansionPanelContent>
                    <div *ngIf="code_map">
                      <div *ngFor="let code of hccicd[hcc]">
                        {{ formatICDwithPeriod(code) }}:
                        {{ code_map[code].long_description }}
                      </div>
                    </div>
                  </ng-template>
                </mat-expansion-panel>
              </div>
            </div>
          </div>
        </section></mat-tab
      >
      <mat-tab label="HCC Hierachy">
        <ng-template matTabContent
          ><!-- use matTabContent so it lazy loads, otherwise ngx-graph doesn't load properly-->
          <section>
            <div class="container">
              <h2>See how the HCCs are related</h2>
              <p>
                The child conditions are more specific/severe instances of the parent
                conditions.
              </p>
              <div class="container-graph">
                <ngx-graph
                  [links]="model_v22_links"
                  [view]="view"
                  [nodes]="model_v22_nodes"
                  [curve]="curve"
                  [draggingEnabled]="false"
                  [orientation]="'TB'"
                  [autoZoom]="true"
                  [autoCenter]="true"
                  [enableZoom]="true"
                  [panOnZoom]="true"
                >
                  <ng-template #defsTemplate>
                    <svg:marker
                      id="arrow"
                      viewBox="0 -5 10 10"
                      refX="8"
                      refY="0"
                      markerWidth="4"
                      markerHeight="4"
                      orient="auto"
                    >
                      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                    </svg:marker>
                  </ng-template>

                  <ng-template #nodeTemplate let-node>
                    <svg:g class="node">
                      <svg:rect
                        [attr.width]="node.width"
                        [attr.height]="node.height"
                        [attr.fill]="node.options.color"
                      />
                      <svg:text
                        alignment-baseline="central"
                        [attr.x]="10"
                        [attr.y]="node.height / 2"
                      >
                        {{ node.label }}
                      </svg:text>
                    </svg:g>
                  </ng-template>

                  <ng-template #linkTemplate let-link>
                    <svg:g class="edge">
                      <svg:path
                        class="line"
                        stroke-width="2"
                        marker-end="url(#arrow)"
                      ></svg:path>
                      <!-- <svg:text class="edge-label" text-anchor="middle">
                <textPath
                  style="fill: #666;"
                  [attr.href]="'#' + link.id"
                  startOffset="60%"
                >
                  {{ link.label }}
                </textPath>
              </svg:text> -->
                    </svg:g>
                  </ng-template>
                </ngx-graph>
              </div>
            </div>
          </section>
        </ng-template>
      </mat-tab>
      <mat-tab label="FAQ"><section>Lorem Ipsum</section> </mat-tab>
    </mat-tab-group>
  </div>
  <footer class="text-center space--sm footer-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-block">
            <ul class="list-inline list--hover">
              <li>
                <a href="https://www.calyxhealth.com/"><span>Calyx Health</span></a>
              </li>
              <li>
                <a href="mailto:careers@calyxhealth.com"><span>Join Us</span></a>
              </li>
            </ul>
          </div>
          <div>
            <span class="type--fine-print"
              >© <span class="update-year"></span> Calyx Health, Inc.</span
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
  <router-outlet></router-outlet>
</div>
